<a href="https://colab.research.google.com/github/JustinRheyMonoy/CPE-103-OOP-1-A/blob/main/LOOP_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example #1

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thurdsday":
   break
print(x)

Example 2

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x == "Thurdsday":
   break

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Example #4

In [ ]:
for x in "week":
  print(x)

w
e
e
k

#Range Function

In [ ]:
for x in range(6):
  print(x)
for x in range(2, 6):
  print(x)

0
1
2
3
4
5
2
3
4
5

#Nested Loops

In [ ]:
adjective = ["red","big","tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

#Python of While Statement

In [ ]:
i = 1
while i<6:
  print(i)
  i += 1 #i = i + 1 Assignment Operator

1
2
3
4
5

#The Break Statement

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i+=1 #i = i+1

1
2
3

#The continue Statement

In [ ]:
i = 0
while i <= 6:
  i+=1
  if i == 3:
    continue
  if i == 6:
    break
  print(i)

1
2
4
5

#The else Statement

In [ ]:
i = 1
while i < 6:
  print(i)
  i+=1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

#Application 1

In [ ]:
i = -1
while i <= 9:
    i += 1
    if i == 11:
      continue

    print("hello" , i)

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

#Practical Test

In [130]:
i = 2
while i <= 9:
    i += 1
    if i == 11:
      continue

    print(i)

3
4
5
6
7
8
9
10