<a href="https://colab.research.google.com/github/JustinRheyMonoy/CPE-103-OOP-1-A/blob/main/PythonFundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON INDENTATION

In [6]:
if 5>2: print ("Five is greater that two!")

Five is greater that two!

In [5]:
print("Hello, World")

Hello, World

In [10]:
myvar = "John"

In [13]:
myvar2 = "John"

In [15]:
_my_var = "john"

In [17]:
myVar = "John"

In [19]:
my_var = "John"

Python Variable

In [47]:
x = 1
a,b = 0, -1
a,b, c = 0, -1, 2
b = "Sally"

print (a,b,c)

0 Sally 2

Casting

In [46]:
b = "sally"
b = int(4)
print (b)

4

In [39]:
b=float(4)
print(b)

4.0

Type() function

In [52]:
x = 5
y = "john"
print (type(x))
print (type(y))

<class 'int'>
<class 'str'>

“Double quotes” or ‘Single’ quotes

In [53]:
y = "John"
y = 'John'

Case sensitive

In [55]:
a = 4
A = "Sally"
print (a,A)

4 Sally

Multiple Variables

In [58]:
x,y,z = "one", "two", "three"
print (x)
print (y)
print (z)

one
two
three

One Value to Multiple Variables

In [60]:
x=y=z="four"
print (x)
print (y)
print (z)

four
four
four

Output Variables

In [72]:
x = "enjoying"
y = "but"
z = "tiring"
print ("Python programming is " + x,y,z)

Python programming is enjoying but tiring

In [76]:
l = "Python programming is"
x = " enjoying"
y = " but"
z = " tiring"
b = (l+x+y+z)
print (b)

Python programming is enjoying but tiring

Arithmetic Operations

In [77]:
x = 5
y = 3
print (x+y)

8

In [79]:
x = 5
y = 3
sum = x+y
print (sum)

8

Assignment Operators

In [84]:
a, b, c = 0, -1, 6
c%=3
print (c)

0

Comparison Operators

In [88]:
a, b, c, = 0, -1, 6
a>b and c>b

True

In [94]:
a = 23
b = 6
a<b

False

Identity Operators

In [86]:
a, b, c = 0, -1, 5
a is c

False

Bitwise Operators

In [125]:
#Decimal to Binary
#10 = 1010

x = 10
x>>1

5

In [136]:
#Decimal to Binary
#10 = 1010

x = 10
x>>1
print (x>>1)

5

In [133]:
#Decimal to Binary
#10 = 1010

x = 10
x>>2

2

In [139]:
#Decimal to Binary
#10 = 1010

x = 10
x>>2
print (x>>2)

2

Application 1

In [158]:
#application 1
#Area of the Circle
r = 4
pi = 3.14159
Area = pi*r*r
print ("A = ", Area, "cm²")

A =  50.26544 cm²

In [165]:
#Volume of the Circle
r = 6
pi = 3.14159
Volume = (4/3)*pi*r*r*r
print ("V = ", Volume, "cm³")

V =  904.7779199999999 cm³

In [160]:
#Area of Rectangle
l = 23
w = 5
area = l * w
print ("A =", l*w, "cm²")

A = 115 cm²

In [166]:
#Volume of Rectangle
l = 6
w = 10
h = 9
volume = l * w * h
print ("V =", l*w*h, "cm³")

V = 540 cm³

In [162]:
#Area of Square
s = 11
area = s * s
print ("A =", s*s, "cm²")

A = 121 cm²

In [167]:
#Volume of Square
s = 9
volume = s * s * s
print ("V =", s*s*s, "cm³")

V = 729 cm³

In [163]:
#Area of Triangle
b = 12
h = 14
area = (b*h)/2
print ("A =", (b*h)/2, "cm²")

A = 84.0 cm²

In [168]:
#Volume of Triangle
b = 9
h = 11
volume = (b*h)/2
print ("V =", (b*h)/2, "cm³")

V = 49.5 cm³